In [22]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [23]:
df=pd.DataFrame(pd.read_csv('auto.csv'))
df.head(3)
#df.columns

    mpg  displ   hp  weight  accel origin  size
0  18.0  250.0   88    3139   14.5     US  15.0
1   9.0  304.0  193    4732   18.5     US  20.0
2  36.1   91.0   60    1800   16.4   Asia  10.0

In [24]:
df.origin.unique()

array(['US', 'Asia', 'Europe'], dtype=object)

In [25]:
df=pd.get_dummies(df)
df.head()

,mpg,displ,hp,weight,accel,size,origin_Asia,origin_Europe,origin_US
0,18.0,250.0,88,3139,14.5,15.0,0,0,1
1,9.0,304.0,193,4732,18.5,20.0,0,0,1
2,36.1,91.0,60,1800,16.4,10.0,1,0,0
3,18.5,250.0,98,3525,19.0,15.0,0,0,1
4,34.3,97.0,78,2188,15.8,10.0,0,1,0

df.drop('origin_US',axis=1,inplace=True)
df.head()

In [27]:
from sklearn.linear_model import LinearRegression as lr
from sklearn.model_selection import train_test_split as tts

X=df.drop('mpg',axis=1).values
Y=df.mpg.values

X_train,X_test,y_train,y_test=tts(X,Y,test_size=0.5,random_state=45)

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


X = df.drop("mpg",axis = 1).values
y = df["mpg"].values

lr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=24)
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.7626156318601365