What happens with huge slicing?

In [1]:
name = "vinod"
name[0]

'v'

In [2]:
name[0] = "B"

TypeError: 'str' object does not support item assignment

In [3]:
name = "B" + name[1:]

In [4]:
name

'Binod'

In [6]:
name = "Akshit"

In [7]:
name1 = "H" + name[0:1] + "r" + name[2:]
name2 = "Har" + name[2:]
name3 = "Harshit"
print(name1)
print(name2)
print(name3)

HArshit
Harshit
Harshit

In [8]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
name

'Akshit'

In [10]:
name[0]

'A'

In [11]:
name[5]

't'

In [12]:
name[6]

IndexError: string index out of range

In [13]:
name[6:50]

''

In [14]:
my_list = ["12",12,"ashutosh","akshit"]
my_list[6:12]

[]

## Lists
## Loops
## Loops for without list

In [15]:
my_list = []
my_list.append(12)
my_list.append("abhishek")
my_list.append(["Anshul","Osahub","1000000000"])
my_list

[12, 'abhishek', ['Anshul', 'Osahub', '1000000000']]

In [16]:
print(my_list)

[12, 'abhishek', ['Anshul', 'Osahub', '1000000000']]

In [17]:
help(my_list.append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [18]:
my_list[2][2]

'1000000000'

In [19]:
my_list["anshul"]

TypeError: list indices must be integers or slices, not str

### for loops

In [20]:
for haathi in my_list:
    print(haathi)

12
abhishek
['Anshul', 'Osahub', '1000000000']

### range()
gives us a list with values from start upto end and with steps if provided

In [21]:
range(0,15)

range(0, 15)

In [1]:
#to be run in python 2 
range(0,15)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
for ghoda in range(0,11):
    print("2 x ", ghoda, " = ", 2*ghoda)

('2 x ', 0, ' = ', 0)
('2 x ', 1, ' = ', 2)
('2 x ', 2, ' = ', 4)
('2 x ', 3, ' = ', 6)
('2 x ', 4, ' = ', 8)
('2 x ', 5, ' = ', 10)
('2 x ', 6, ' = ', 12)
('2 x ', 7, ' = ', 14)
('2 x ', 8, ' = ', 16)
('2 x ', 9, ' = ', 18)

In [1]:
for ghoda in range(0,11):
    print("3 x ", ghoda, " = ", 3*ghoda)

3 x  0  =  0
3 x  1  =  3
3 x  2  =  6
3 x  3  =  9
3 x  4  =  12
3 x  5  =  15
3 x  6  =  18
3 x  7  =  21
3 x  8  =  24
3 x  9  =  27
3 x  10  =  30

In [1]:
#python 2 code 
range(0,20,2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
range(20,0,-2)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [3]:
range(2,20,-2)

[]

In [5]:
# now python3

In [3]:
my_list = []
my_list.append(12)
my_list.append("abhishek")
my_list.append(["Anshul","Osahub","1000000000"])
my_list

for item in my_list[0:2]:
    print(item)

12
abhishek

In [4]:
string = '''
my name is ashutosh
I am good 
Thank you
'''

In [5]:
string

'\nmy name is ashutosh\nI am good \nThank you\n'

In [6]:
range(10)

range(0, 10)

In [7]:
range(10)

range(0, 10)

In [8]:
len(my_list)

3

## Booleans

In [ ]:
True
False

In [10]:
age = 26
if age > 21 :
    print("can marry")

can marry

In [11]:
age > 21

True

In [12]:
if True:
    print("Hello there!")

Hello there!

In [15]:
for item in my_list:
    if age > 21:
        print("beta shaadi kab karoge?")
        if "already married":
            print("Registration Kab karoge")
        else:
            print("Pammi aunty ki beta bahut acha hai.")
    else:
        print("kitne number aaye is baar?")

beta shaadi kab karoge?
Registration Kab karoge
beta shaadi kab karoge?
Registration Kab karoge
beta shaadi kab karoge?
Registration Kab karoge

In [14]:
if 29:
    print("i am 29")
else :
    print("i am young")

i am 29

In [16]:
#What happens when using empty string?

In [17]:
if age > 21:
    print("Marriage?")
elif age > 25:
    print("Registration")
elif age > 30:
    print("bhai tu jaane de")
else : 
    print("beta padhai pe dhyan de lo.")

Marriage?

In [18]:
if age > 30:
        print("bhai tu jaane de")


elif age > 25:
    print("Registration")
elif age > 21:
        print("Marriage?")
else : 
    print("beta padhai pe dhyan de lo.")

Registration

### Tuples

In [19]:
my_tuple  = ("anshul","jain")

In [20]:
type(my_tuple)

tuple

In [21]:
my_tuple[0]

'anshul'

In [22]:
my_tuple[:]

('anshul', 'jain')

## Dictionaries

In [23]:
my_dict = {}

In [24]:
### directly assign a value to key
my_dict['name'] = "Machine Learning"

In [25]:
my_dict

{'name': 'Machine Learning'}

In [27]:
my_dict2 = {'name' : 'Python', 'class' : 405,'assignment':'aayenge'}
my_dict2

{'assignment': 'aayenge', 'class': 405, 'name': 'Python'}

In [28]:
my_dict3 = {10:"boards", 12.5:"iit coaching"}

In [29]:
my_dict3

{10: 'boards', 12.5: 'iit coaching'}

In [32]:
print(my_dict3)
for item in my_dict3:
    print(item)

{10: 'boards', 12.5: 'iit coaching'}
10
12.5

In [33]:
for item in my_dict3:
    print(item, my_dict3[item])

10 boards
12.5 iit coaching

In [34]:
for item in my_dict3.items():
    print(item)

(10, 'boards')
(12.5, 'iit coaching')

In [35]:
for item in my_dict3.items():
    print(item[0], item[1])

10 boards
12.5 iit coaching

In [36]:
for key, value in my_dict3.items():
    print(key, value)

10 boards
12.5 iit coaching

In [37]:
my_dict3.keys()

dict_keys([10, 12.5])

In [38]:
type(my_dict3.keys())

dict_keys

In [39]:
type(my_dict3)

dict

In [41]:
my_dict3["college"]  = "MSIT Janakpuri"
my_dict3["location"] = "Near Janakpuri Metro Station"
print(my_dict3)

{'college': 'MSIT Janakpuri', 10: 'boards', 12.5: 'iit coaching', 'location': 'Near Janakpuri Metro Station'}

In [42]:
my_dict3

{'college': 'MSIT Janakpuri',
 10: 'boards',
 12.5: 'iit coaching',
 'location': 'Near Janakpuri Metro Station'}

# Comparison between list and dictionary

In [43]:
my_list = [1,2,3,4,5,6,7,8]
print(my_list)
my_dict3

[1, 2, 3, 4, 5, 6, 7, 8]

{'college': 'MSIT Janakpuri',
 10: 'boards',
 12.5: 'iit coaching',
 'location': 'Near Janakpuri Metro Station'}

In [44]:
# extract first element from list 
my_list[0]

1

In [45]:
my_dict3[12.5]

'iit coaching'

In [46]:
my_dict3['location']

'Near Janakpuri Metro Station'

In [47]:
my_dict3['atranga']

KeyError: 'atranga'

In [48]:
my_dict4 = {'college':'msit', "college":"iiit"}

In [49]:
my_dict4

{'college': 'iiit'}

## Functions

syntax : 


def function_name( arguments ) :
   function line
   function line2 
   line 3
   
   [return output]

In [52]:
# create a function whose input is a number 
# and it gives output as a list from 0 to that numbers 

def my_range( n ):
    my_list = []
    for item in range(0,n+1):
        my_list.append(item)
    
    return my_list

IN FUNCTION DEFINITIONS THE SYNTAX ERROS WILL BE CAUGHT BUT THE RUNTIMES / LOGICAL ERRORS WILL BE CAUGHT WHEN THE FUNCTION IS CALLED.

In [53]:
my_range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
#my_range(10)
my_list = []
for item in range(0,10+1):
    my_list.append(item)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
#capture the value returned by the function

new_list = my_range(100)

In [56]:
new_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [58]:
#type questions 


n = "12.5"
o = float(n)
int(o)

12

In [59]:
#what if we are the point of no return?
def brush(time):
    print("I have brushed my teeth")

In [60]:
None

In [61]:
x = ''

x == None

False

In [62]:
if None:
    print("my name is None")
else:
    print("I have some value")

I have some value

In [63]:
help([].append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [64]:
x = [1]
y = [2]
z = [3]

# [x.append(y)].append(z)
# None.append
x.append(y).append(z)

AttributeError: 'NoneType' object has no attribute 'append'